

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}



@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}




body {
  font-family: Verdana, sans-serif;
  text-align: center;
}

h1 {
  color: #333;
}

#pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.pokemon-card {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.pokemon-card:hover {
  background-color: #f5f5f5;
}

/* Estilos del selector de tema */
.selectortema {
  margin-bottom: 20px;
}

.selectortema input[type="radio"] {
  display: none;
}

.selectortema label {
  display: inline-block;
  padding: 5px 10px;
  background-color: #eee;
  color: #333;
  cursor: pointer;
}

.selectortema input[type="radio"]:checked + label {
  background-color: #333;
  color: #fff;
}

/* Estilos del tema claro */
body {
  background-color: #fff;
  color: #333;
}

h1 {
  color: #333;
}

.pokemon-card {
  background-color: #fff;
  color: #333;
}

.pokemon-details {
  background-color: #fff;
  color: #333;
}

/* Estilos del tema oscuro */
body.temadark {
  background-color: #333;
  color: #fff;
}

body.temadark h1 {
  color: #fff;
}

.pokemon-card.temadark {
  background-color: #333;
  color: #fff;
}

.pokemon-details.temadark {
  background-color: #333;
  color: #fff;
}
